.admin-container {
  width: 99%;
  height: 85vh;
  margin: 10px;
  border: 1px solid #555;
  border-radius: 10px;

  //background-color: #c9dbb2;
}

.admin-left {
  padding: 10px 10px;
  //background-color: #e3f2c1;
}
