<mat-list class="side-bar" role="list">
  <mat-list-item
    role="listitem"
    routerLink="/admin/dash"
    routerLinkActive="side"
    >Dashboard</mat-list-item
  >
  <mat-list-item role="listitem" routerLink="customers" routerLinkActive="side"
    >Customers</mat-list-item
  >
  <mat-list-item role="listitem" routerLink="products" routerLinkActive="side"
    >Products</mat-list-item
  >
  <mat-list-item role="listitem" routerLink="orders" routerLinkActive="side"
    >Orders</mat-list-item
  >
  <mat-list-item
    role="listitem"
    routerLink="authorize-menu"
    routerLinkActive="side"
    >Authorize Menu</mat-list-item
  >

  <mat-list-item role="listitem" routerLink="roles" routerLinkActive="side"
    >Roles</mat-list-item
  >

  <mat-list-item role="listitem" routerLink="users" routerLinkActive="side"
    >Users</mat-list-item
  >

  <!-- <mat-list-item role="listitem" routerLink="">Home</mat-list-item>
</mat-list> -->
</mat-list>
